controllers:
  main:
    containers:
      main:
        env:
          DB_HOSTNAME: homelab-pg-rw.infra.svc.cluster.local
          DB_USERNAME: immich
          DB_PASSWORD: immich
immich:
  persistence:
    library:
      existingClaim: "immich-lib-claim"
server:
 ingress:
   main:
     enabled: true
     hosts:
       - host: immich.lan
         paths:
           - path: "/"
             service:
               identifier: main
machine-learning:
  enabled: false
valkey:
  enabled: true
